{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if messages %}

<div class="alert alert-success">
{% for m in messages %}
<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</li>
{% endfor %}
</div>

{% endif %}

<div>
<div><h2><i class="fa fa-user"></i> Cadastro de Especialidades Médicas</h2>
</div>
    <div class="col-4 text-right">
       <a href="{% url 'public:especialidademedica_list' %}" class="btn btn-sm btn-primary">Visualizar Todos</a>
    </div>
<form  method="post" enctype="multipart/form-data" >
    {% csrf_token %}
        {{ form.as_p }}
 <button type="submit" class="btn btn-success">Salvar</button>
</form>
{% endblock %}
