{% extends "layouts/base.html" %}

{% block content %}

{% if messages %}
<div class="alert alert-success">
{% for m in messages %}
<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</li>
{% endfor %}
</div>
{% endif %}

<div>
 <div>
   <h2><i class="fa fa-user"></i> Lista de Especialiades Médicas</h2>
 </div>

 <div class="input-group-prepend">
     <div class="col-4 text-left">
       <form action="{% url 'public:especialidademedica_list' %}" method="GET">
          <input type="text"  placeholder="pesquisar" name="search" id="search" >
          <button class="btn btn-sm btn-search" type="submit" id="button-addon1">Buscar</button>
       </form>
     </div>
       <div class="col-6 text-left">
          <a href="{% url 'public:especialidademedica_create' %}" class="btn btn-sm btn-success">Nova Especialidade Medica</a>

       <a href="{% url 'public:exame_list' %}" class="btn btn-sm btn-primary">Visualizar Exames</a>
    </div>
       </div>
 </div>

<div class="table-responsive">
  {% if especialidademedicas %}
  <table class="table">
      <tr>
         <thead class="thead-light">
         <th scope="col"><b>ID</b></th>
              <th scope="col"><b>Descrição</b></th>

              <th scope="col"><b></b> </th>
         </thead>
      </tr>

    <tbody>

    {% for especialidademedica in especialidademedicas %}
      <tr>
        <td>
            <a href="{% url 'public:especialidademedica_detail' especialidademedica.slug %}">{{especialidademedica.id}}</a>
        </td>
        <td>{{especialidademedica.especialidade_medica}}</td>

        <td>
          <a href="{% url 'public:especialidademedica_edit' especialidademedica.slug %}" class="btn btn-sm btn-info">Editar</a>
         <a  href="{% url 'public:especialidademedica_delete' especialidademedica.slug %}" class="btn btn-sm btn-warning">Deletar</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
     <div class="card-footer py-4">
        {% if is_paginated %}
          {% include "includes\_pagination.html" %}
        {% endif %}
     </div>
{% else %}
  <p class="alert alert-warning">Sem itens na lista.</p>
{% endif %}
</div>
{% endblock %}
