{% extends "layouts/base.html" %}
{% block content %}
<div>
<div><h2><i class="fa fa-user"></i>Paciente</h2>
</div>
<div class="card">
    <div class="card-header">
      <div class="row align-items-center">

        <div class="col-4 text-right">
          <a href="{% url 'public:paciente_edit' paciente.slug %}" class="btn btn-sm btn-info">Editar</a>
          <a href="{% url 'public:paciente_delete' paciente.slug %}" class="btn btn-sm btn-warning">Deletar</a>
          <a href="{% url 'public:paciente_list' %}" class="btn btn-sm btn-primary">Visualizar Todos</a>
        </div>
      </div>
    </div>
    <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Nome:</dt>
      <dd class="col-sm-9">{{ paciente.nome_paciente }}</dd>
      <dt class="col-sm-3">Cpf:</dt>
      <dd class="col-sm-9">{{ paciente.cpf }}</dd>
       <dt class="col-sm-3">Ativo:</dt>
      <dd class="col-sm-9">{{ paciente.ativo }}</dd>
    </dl>

    </div>
</div>

{% endblock %}
