{% extends "layouts/base.html" %}
{% block content %}
<div>
<div><h2><i class="fa fa-user"></i>Função</h2>
</div>
<div class="card">
    <div class="card-header">
      <div class="row align-items-center">

        <div class="col-4 text-right">
          <a href="{% url 'public:funcao_edit' funcao.slug %}" class="btn btn-sm btn-info">Editar</a>
          <a href="{% url 'public:funcao_delete' funcao.slug %}" class="btn btn-sm btn-warning">Deletar</a>
          <a href="{% url 'public:funcao_list' %}" class="btn btn-sm btn-primary">Visualizar Todos</a>
        </div>
      </div>
    </div>
    <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Nome:</dt>
      <dd class="col-sm-9">{{ funcao.descricao }}</dd>
      <dt class="col-sm-3">CBO:</dt>
      <dd class="col-sm-9">{{ funcao.cbo }}</dd>
       <dt class="col-sm-3">Ativo:</dt>
      <dd class="col-sm-9">{{ funcao.ativo }}</dd>
    </dl>

    </div>
</div>

{% endblock %}
